* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

/* Header styles */
header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 24px;
} 

.logo span {
    color: #333639;
}

.logo p {
    text-transform: uppercase;
    font-size: 32px;
    color: #858B93;
}

h3, h4 {
    color: #4d4949;
}

nav {
    margin-right: 24px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-right: 16px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #4d4949;
    transition: color 300ms ease-in;
}

nav ul li a:hover {
    color: #8d8d8d;
}

/* Hero section */
#hero {
    padding: 32px 0 32px 24px;
    display: flex;
    align-items: center;
    background-color: #F8F6FF;
}

img {
    max-width: 60%;
    margin-right: 24px;
}

.hero-info {
    max-width: 30%;
}

.hero-info h1 {
    color: #333639;
    font-size: 24px;
    margin-bottom: 30px;
}

.hero-info p {
    color: #4d4949;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.hero-info button {
    font-size: large;
    text-decoration: none;
    color: white;
    background-color: #6A52FF;
    padding: 8px 0;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 300ms ease-in;
}

.hero-info button:hover {
    background-color: #8976ff;
}

/* Main info section */
#main-info {
    margin: 32px 0;
    padding-left: 24px;
    display: flex;
}

.left {
    max-width: 60%;
    margin-right: 24px;
}

.image-container {
    margin-bottom: 32px;
}

.image-container img {
    width: 100%;
}

.left h3 {
    margin-bottom: 24px;
}

.left p {
    font-size: 16px;
    color: #4d4949d0;
    line-height: 1.4;
}

p.person {
    margin-top: 24px;
    color: #333639;
}

.right {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.orientation, .campus, .guest-lecturer {
    display: flex;
    margin-bottom: 20px;
}

.orientation .item-image {
    background-image: url('/resources/images/information-orientation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: auto;
    margin: 16px 0 16px 16px;
}

.campus .item-image {
    background-image: url('/resources/images/information-campus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: auto;
    margin: 16px 0 16px 16px;
}

.guest-lecturer {
    background-color: #F8F6FF;
}

.guest-lecturer .item-image {
    background-image: url('/resources/images/information-guest-lecture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: auto;
    margin: 16px 0 16px 16px;
}

.right-info {
    max-width: 65%;
    padding: 24px 20px;
}

.right-info h4 {
    font-weight: 400;
    color: #333639;
    margin-bottom: 8px;
}

.right-info p {
    font-size: 14px;
    color: #4d4949cc;
    margin-bottom: 8px;
}